{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <div>
      <div>
        팔로잉 : 
        <span id="followingText">  
          {{ followings|length }}
        </span>
        / 팔로워 : 
        <span id="followerText">
          {{ followers|length }}
        </span>
      </div>
      {% if request.user != person %}
        <div>
          <form id="followForm" action="{% url 'accounts:follow' person.pk %}" method="POST">
            {% csrf_token %}
            {% if request.user in followers %}
              <button id="followBtn" class="btn btn-outline-secondary btn-sm mt-3">언팔로우</button>
            {% else %}
              <button id="followBtn" class="btn btn-outline-secondary btn-sm mt-3">팔로우</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    </div>
  {% endwith %}
{% endblock %}

{% block script %}
  <script>
    const followingText = document.querySelector('#followingText')
    const followerText = document.querySelector('#followerText')
    const followForm = document.querySelector('#followForm')
    const followBtn = document.querySelector('#followBtn')
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const requestUrl = `{% url 'accounts:follow' person.id %}`

    
    followForm.addEventListener('submit', function (event) {
      event.preventDefault()
      axios({
        method: 'post',
        url: requestUrl,
        headers: {
          'x-csrftoken': csrfToken
        }
      })
        .then(res => {
          if (res.data.isFollow) {followBtn.innerText = '언팔로우'}
          else {followBtn.innerText = '팔로우'}
          followingText.innerText = res.data.followingCount
          followerText.innerText = res.data.followerCount
        })
        .catch(err => console.error(err))
    })

  </script>
{% endblock script %}